<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>
	<p>
		Splurty was built by <a target="_blank" href="http://github.com/alan24">Alan</a>. A web developer who is on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
	</p>
	</br />
	<p>
		I am still learning a lot about coding through <a target="_blank" href="http://thefirehoseproject.com">theFirehoseProject</a>. This is a great website to learn more about coding!
	</p>
	<p>
		If you want to learn how to code - start <a target="_blank" href="http://thefirehoseproject.com"> here</a>.
	</p>
</div>




<div class="col-xs-12 col-sm-4">
	<%= image_tag 'alan.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1 bio">
	<h2 class="text-center">Alan Lim</h2>
	<br />
	<p>
		Alan Lim is a junior web developer. He is learning how to code better through theFirehoseproject. He is also excited about this opportunity to learn a lot about ruby in this course.
	</p>
</div>
<br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
